# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pyre/
.ruff_cache/
.ipynb_checkpoints/
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/
.pnpm-store/

# Build outputs
build/
dist/

# Env files
.env
.env.*

# IDE
.idea/
.vscode/

# Logs
logs/
*.log
